* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: #fff;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  background-color: #E08594;
  border: none;
  outline: none;
  color: #fff;
  padding: 4px 5px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9b5b66;
  transition: 0.4s ease-in-out;
}